body{

    background-color: rgb(250, 250, 250);
}

.container{

    display: flex;
    align-items: center;
    flex-direction: column;
}

img{

    display:block;
    margin:auto;
}

.CovidImage {
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

@media (max-width: 770px){

    .container{

        margin: 0 10%;
    }

    .image{

        width: 100%;
    }
}